@page "/consultas"
@using Facturación.Components.Data
@using System.Globalization
@inject Facturación.Components.Controlador.ServicioControlador ControladorFacturas

<h3>Consultas</h3>

<p>Precios mayores a $10,000</p>
<ul>
    @foreach (var cliente in facturasCaras)
        {
            <li>
                    <td>@cliente</td>
            </li>
        }
</ul>

<p>Precios entre $5,000 y $7,000</p>
<ul>
    @foreach (var cliente in preciosIntermedios)
    {
        <li>
            @cliente
        </li>
    }
</ul>

<p>Fechas de facturas emitidas en 2025-10-01 al 2025-12-31</p>
<ul>
    @foreach (var Clientes in fechasFacturas)
    {
        <li>
            @Clientes
        </li>
    }
</ul>

<p>Mes con mas ventas</p>
<ul>
    @foreach (var Clientes in mesMayorVentas)
    {
        <li>
            @Clientes
        </li>
    }
</ul>

<p>Articulo Mas Vendido</p>
<ul>
    @foreach (var clientes in articuloMasVendido)
    {
        <li>
            @clientes
        </li>
    }
</ul>

<a href="/"><button>Ir a Generar Facturas</button></a>

@code {
    private List<string> facturasCaras = new();
    private List<string> preciosIntermedios = new();
    private List<string> fechasFacturas = new();
    private List<string> mesMayorVentas = new();
    private List<string> articuloMasVendido = new();

    protected override async Task OnInitializedAsync()
    {
        facturasCaras = await ControladorFacturas.FacturasCaras();
        preciosIntermedios = await ControladorFacturas.PrecioIntermedio();
        fechasFacturas = await ControladorFacturas.FechasFacturas();
        mesMayorVentas = await ControladorFacturas.MesMayorVentas();
        articuloMasVendido = await ControladorFacturas.ArticuloMasVendido();
    }
}