@page "/FacturasGeneradas"
@rendermode InteractiveServer
@using Facturación.Components.Data
@inject Facturación.Components.Controlador.ServicioControlador ControladorFacturas
@inject NavigationManager NavigationManager

<h2>Facturas Generadas</h2>

<div>
    <p>Lista de facturas generadas:</p>

    <table>
        <thead>
            <tr>
                <th>Nombre del Cliente</th>
                <th>Fecha de Emisión</th>
                <th>Precio Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in facturas)
            {
                <tr>
                    <td>@factura.Nombre_Cliente</td>
                    <td>@factura.Fecha_emision</td>
                    <td>$@factura.Precio_Total</td>
                    <td><button @onclick="() => EditarFactura(factura.Identificador)">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<div>
    <input @bind="eliminarfactura.Identificador" placeholder="Elimina factura>" />
    <button @onclick="EliminarFactura">Eliminar Factura</button>
</div>

<a href="/"><button>Ir a Generar Facturas</button></a>
<a href="/reportes"><button>Generar Reporte</button></a>


@code {
    private List<Factura> facturas = new();
    private Factura eliminarfactura = new();

    private async Task EliminarFactura()
    {
        await ControladorFacturas.EliminarFactura(eliminarfactura.Identificador);
        facturas = await ControladorFacturas.ObtenerFacturas();
    }

    private void EditarFactura(int idFactura)
    {
        NavigationManager.NavigateTo($"/editarfactura/{idFactura}");
    }

    private void GenerarReporte()
    {
        NavigationManager.NavigateTo($"/generarreporte");
    }

    protected override async Task OnInitializedAsync()
    {
        facturas = await ControladorFacturas.ObtenerFacturas();
    }
}
